/*!
  File Name: editor-styles.less (Rijkshuisstijl - Digitale Overheid)
  Description: Editor CSS voor digitaleoverheid.nl
  Author: Paul van Buuren
  Author URI: https://wbvb.nl/themes/ibewustzijn/
  Version: 0.7.26
  Version description: 0.7.26 - Waarschuwingen uit editor-styles.css opgeschoond.

  License: GPL-2.0+
  License URI: http://www.opensource.org/licenses/gpl-license.php
*/
/* colors */
/* colors */
/* mixins, sizes */
/* fonts */
/* font-styles, shared with admin editor-styles.less */
@font-face {
  font-family: 'Rijksoverheid Sans regular';
  src: url('../fonts/ro-sanswebtext-regular-webfont.eot');
  src: url('../fonts/ro-sanswebtext-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ro-sanswebtext-regular-webfont.woff2') format('woff2'), url('../fonts/ro-sanswebtext-regular-webfont.woff') format('woff'), url('../fonts/ro-sanswebtext-regular-webfont.ttf') format('truetype'), url('../fonts/ro-sanswebtext-regular-webfont.svg#Rijksoverheid Sans Rg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rijksoverheid Sans italic';
  src: url('../fonts/ro-sanswebtext-italic-webfont.eot');
  src: url('../fonts/ro-sanswebtext-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ro-sanswebtext-italic-webfont.woff2') format('woff2'), url('../fonts/ro-sanswebtext-italic-webfont.woff') format('woff'), url('../fonts/ro-sanswebtext-italic-webfont.ttf') format('truetype'), url('../fonts/ro-sanswebtext-italic-webfont.svg#verheul______sanswebtextIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rijksoverheid Sans bold';
  src: url('../fonts/ro-sanswebtext-bold-webfont.eot');
  src: url('../fonts/ro-sanswebtext-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ro-sanswebtext-bold-webfont.woff2') format('woff2'), url('../fonts/ro-sanswebtext-bold-webfont.woff') format('woff'), url('../fonts/ro-sanswebtext-bold-webfont.ttf') format('truetype'), url('../fonts/ro-sanswebtext-bold-webfont.svg#Rijksoverheid Sans bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "RO Icons";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ro-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/ro-icons.woff") format("opentype"), url("../fonts/ro-icons.ttf") format("truetype");
}
body {
  font-family: 'Rijksoverheid Sans regular', sans-serif;
}
* {
  font-family: 'Rijksoverheid Sans regular', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.625;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #01689b;
  text-decoration: none;
}
a:visited {
  color: #535353;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
a:hover {
  color: #014668;
}
a:active,
a:focus {
  color: #d52b1e;
}
a:hover {
  text-decoration: underline;
}
a.extern:before {
  content: "";
}
p {
  margin: 0 0 1em 0;
  padding: 0;
}
strong,
b {
  font-weight: 700;
  font-family: 'Rijksoverheid Sans bold', Helvetica, Arial, sans-serif;
}
ol,
ul {
  padding: 0 0 0 1em;
}
blockquote {
  margin: 1em;
}
blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  font-size: 2.5rem;
  height: 0;
  left: -1em;
  position: relative;
  top: -1em;
}
.entry-content pre,
.entry-content code {
  background-color: #e6e6e6;
  padding: 0 .5em;
}
.entry-content pre {
  padding: .5em;
}
cite {
  font-style: normal;
}
dl {
  display: block;
  overflow: hidden;
  clear: both;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}
dl dt {
  font-weight: bold;
  font-family: 'Rijksoverheid Sans bold', Helvetica, Arial, sans-serif;
  display: inline-block;
  max-width: 40%;
  float: left;
}
dl dd {
  display: inline-block;
  width: 55%;
  float: right;
}
dl + dl {
  padding-top: 1em;
  border-top-style: none;
  border-top: 1px solid #cccccc;
}
dl + dl {
  margin-top: 1em;
}
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
b,
strong {
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  -o-hyphens: manual;
  hyphens: manual;
}
.attachment a,
.gallery a {
  border: none;
}
ol li {
  list-style-type: decimal;
}
ul li {
  list-style-type: disc;
}
ol ol,
ul ul {
  margin-bottom: 0;
}
/* Headings
  --------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0.5em 0 0.25em;
  font-family: 'Rijksoverheid Sans regular', Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 31.2px;
  font-size: 2.6rem;
}
h2 {
  font-size: 24px;
  font-size: 2rem;
}
h3 {
  font-size: 21.6px;
  font-size: 1.8rem;
}
h4 {
  font-size: 19.2px;
  font-size: 1.6rem;
}
h5 {
  font-size: 15.6px;
  font-size: 1.3rem;
}
h6 {
  font-size: 14.4px;
  font-size: 1.2rem;
}
@media only screen and (max-width: 650px) {
  h1 {
    font-size: 23.4px;
    font-size: 1.95rem;
  }
  h2 {
    font-size: 18px;
    font-size: 1.5rem;
  }
  h3 {
    font-size: 16.2px;
    font-size: 1.35rem;
  }
  h4 {
    font-size: 14.4px;
    font-size: 1.2rem;
  }
  h5 {
    font-size: 11.7px;
    font-size: 0.975rem;
  }
  h6 {
    font-size: 10.8px;
    font-size: 0.9rem;
  }
}
/* Tables
  --------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 1em;
  width: 100%;
  border: 0 none #fff;
  outline: none;
}
table .time {
  width: 20%;
  min-width: 80px;
}
table .topic,
table .presentor {
  width: 30%;
}
table .topic {
  width: 45%;
}
table tbody {
  border-top: 1px solid #e6e6e6;
}
table th,
table td {
  text-align: left;
  vertical-align: top;
  background: #f3f3f3;
  padding: .25em;
}
table th {
  font-weight: bold;
  font-family: 'Rijksoverheid Sans bold', Helvetica, Arial, sans-serif;
}
.entry-content ul,
.entry-content ol {
  margin-top: 0;
  margin-bottom: 1em;
}
.entry-content ul li,
.entry-content ol li {
  margin-bottom: .5em;
}
.entry-content ol li {
  list-style-type: decimal;
}
.entry-content ul {
  padding-left: 0;
}
.entry-content ul ul {
  margin-left: 0;
}
.entry-content ul,
.entry-content ul li {
  list-style: none;
}
.entry-content ul li {
  margin-left: 0;
  padding-left: 1.2em;
  position: relative;
  display: block;
}
.entry-content ul li:before {
  font-weight: normal;
  font-family: "RO Icons";
  display: inline-block;
  vertical-align: middle;
  content: "";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 0.7em;
  line-height: 0.7em;
  position: absolute;
  left: 0;
  top: 10px;
  width: 1.5em;
}
.entry-content ul ul,
.entry-content ol ul,
.entry-content ul ol,
.entry-content ol ol {
  margin-top: .5em;
  margin-bottom: 0;
}
.entry-content .block ul,
.entry-content .pagination ul,
.entry-content .stelselplaat ul {
  padding-left: 0;
}
.entry-content .block ul li:before,
.entry-content .pagination ul li:before,
.entry-content .stelselplaat ul li:before {
  content: '';
  display: none;
}
img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 1em;
}
.alignleft {
  float: left;
  text-align: left;
}
.alignright {
  float: right;
  text-align: right;
}
img.alignleft,
.wp-caption.alignleft {
  margin: 0.33333333em 0.5em 1em 0;
}
img.alignright,
.wp-caption.alignright {
  margin: 0.33333333em 0 1em 0.5em;
}
.wp-caption.alignnone {
  margin: 0.33333333em 0 0 0;
}
.wp-caption-text {
  font-size: 12px;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid #ddd;
  line-height: 1.4;
  padding: 0.5em 0;
}
.alignright .wp-caption-text {
  margin-left: 10px;
  margin-bottom: 0 !important;
}
.alignleft .wp-caption-text {
  margin-right: 10px;
  margin-bottom: 0 !important;
}
.gallery-caption {
  border-bottom: none;
}
.kaderblok {
  border: 1px solid #275937;
  padding: 0;
}
.kaderblok h2,
.kaderblok h3,
.kaderblok h4,
.kaderblok h5,
.kaderblok h6 {
  background: #275937;
  color: #fff;
  margin: 0 0 .4em 0;
  padding: .2rem;
  font-size: 1.2rem;
}
.kaderblok p,
.kaderblok ul,
.kaderblok ol {
  margin: 0;
  padding: 0 .2rem;
}
.kaderblok ul ul,
.kaderblok ol ul,
.kaderblok ul ol,
.kaderblok ol ol {
  padding: 0;
}
@media only screen and (min-width: 650px) {
  .intro {
    font-size: 1.3125em;
    line-height: 1.5238;
    display: inline-block;
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 112.5%;
    -webkit-text-size-adjust: 112.5%;
  }
}
.cmb-type-text {
  border: 10px solid #d52b1e;
}
strong,
b,
span[style*="font"],
span[style*="underline"],
u {
  background: red !important;
  color: white !important;
  padding: .1em;
}
strong,
b {
  font-weight: bold;
}
strong,
b,
span[style*="color"],
span[style*="font"],
span[style*="underline"],
u {
  background: red !important;
  color: white !important;
  padding: .1em;
  display: inline-block;
}
strong:before,
b:before,
span[style*="color"]:before,
span[style*="font"]:before,
span[style*="underline"]:before,
u:before {
  background: yellow url('../images/opmaak-verwijderen.png') no-repeat 0.4em 0.4em !important;
  content: 'deze tekst bevat nog verkeerde opmaakcode. Selecteer de tekst en klik op de gum-knop om dit weg te halen';
  display: block;
  padding: .4em .4em .4em 42px;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 16px;
  width: 180px;
  border: 1px solid black;
  float: left;
  color: black !important;
}
span[style*="color"]:before {
  content: 'deze tekst bevat opmaakcode voor een ander lettertype. Selecteer de tekst en klik op de gum-knop om dit weg te halen';
}
span[style*="font"]:before {
  content: 'deze tekst bevat nog verkeerde opmaakcode. Selecteer de tekst en klik op de gum-knop om dit weg te halen';
}
span[style*="underline"]:before,
u:before {
  content: 'Onderstreepte tekst impliceert een link. Niet gebruiken, alsjeblieft.';
}
strong:before,
b:before {
  content: 'Deze tekst is vet. Als je een tussenkopje wil maken, gebruik dan h2, h3, h4. Vette tekst leidt erg af; van harte afgeraden.';
}
a {
  text-decoration: underline !important;
}
h1 {
  background: red !important;
  color: white !important;
  padding: .1em;
  display: inline-block;
}
h1:before {
  background: yellow url('../images/waarschuwing.svg') no-repeat 0.4em 0.4em !important;
  content: 'Deze tekst bevat een H1 als titel-tag. Die is gereserveerd voor de paginatitel. Gebruik alleen H2 of lager, alsjeblieft.';
  display: block;
  padding: .4em .4em .4em 24px;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 16px;
  width: 180px;
  border: 1px solid black;
  float: left;
  color: black !important;
}
/*
div:not(.kaderblok) {
  padding: .2em;
  border: 1px solid @grijs_7;
  
  &:before { 
    content: @waarschuwinghdiv;
    display: inline-block;
    float: none;
    clear: both;
    font-size: 80%;
    color: @grijs_7;
    border-bottom: 1px solid @grijs_7;
    margin-bottom: 1em;
  }
}
div.statusDoorlevering {
  padding: 0;
  border-style: none;
    
  &:before { 
    display: none;
  }
}
*/
.intro {
  display: inline-block;
}
