/* colors */
/* colors */
/* mixins, sizes */
/* fonts */
/* font-styles, shared with admin editor-styles.less */
@font-face {
  font-family: 'Rijksoverheid Sans regular';
  src: url('../fonts/ro-sanswebtext-regular-webfont.eot');
  src: url('../fonts/ro-sanswebtext-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ro-sanswebtext-regular-webfont.woff2') format('woff2'), url('../fonts/ro-sanswebtext-regular-webfont.woff') format('woff'), url('../fonts/ro-sanswebtext-regular-webfont.ttf') format('truetype'), url('../fonts/ro-sanswebtext-regular-webfont.svg#Rijksoverheid Sans Rg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rijksoverheid Sans italic';
  src: url('../fonts/ro-sanswebtext-italic-webfont.eot');
  src: url('../fonts/ro-sanswebtext-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ro-sanswebtext-italic-webfont.woff2') format('woff2'), url('../fonts/ro-sanswebtext-italic-webfont.woff') format('woff'), url('../fonts/ro-sanswebtext-italic-webfont.ttf') format('truetype'), url('../fonts/ro-sanswebtext-italic-webfont.svg#verheul______sanswebtextIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rijksoverheid Sans bold';
  src: url('../fonts/ro-sanswebtext-bold-webfont.eot');
  src: url('../fonts/ro-sanswebtext-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ro-sanswebtext-bold-webfont.woff2') format('woff2'), url('../fonts/ro-sanswebtext-bold-webfont.woff') format('woff'), url('../fonts/ro-sanswebtext-bold-webfont.ttf') format('truetype'), url('../fonts/ro-sanswebtext-bold-webfont.svg#Rijksoverheid Sans bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "RO Icons";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ro-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/ro-icons.woff") format("opentype"), url("../fonts/ro-icons.ttf") format("truetype");
}
body {
  font-family: 'Rijksoverheid Sans regular', sans-serif;
}
* {
  font-family: 'Rijksoverheid Sans regular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
a {
  color: #01689b;
  text-decoration: none;
}
a:visited {
  color: #535353;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
  color: #d52b1e;
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 0 0 16px 0;
  padding: 0;
}
strong,
b {
  font-weight: 700;
  font-family: 'Rijksoverheid Sans bold', Helvetica, Arial, sans-serif;
}
ol,
ul {
  padding: 0 0 0 16px;
}
blockquote {
  margin: 16px;
}
blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  height: 0;
  left: -16px;
  position: relative;
  top: -16px;
}
.entry-content pre,
.entry-content code {
  background-color: #e6e6e6;
  padding: 0 .5em;
}
.entry-content pre {
  padding: .5em;
}
cite {
  font-style: normal;
}
dl {
  display: block;
  overflow: hidden;
  clear: both;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}
dl dt {
  font-weight: bold;
  font-family: 'Rijksoverheid Sans bold', Helvetica, Arial, sans-serif;
  display: inline-block;
  max-width: 40%;
  float: left;
}
dl dd {
  display: inline-block;
  width: 55%;
  float: right;
}
dl + dl {
  padding-top: 16px;
  border-top-style: none;
  border-top: 1px solid #cccccc;
}
dl + dl {
  margin-top: 1em;
}
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
b,
strong {
  -webkit-hyphens: manual;
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  -o-hyphens: manual;
  hyphens: manual;
}
.attachment a,
.gallery a {
  border: none;
}
ol li {
  list-style-type: decimal;
}
ul li {
  list-style-type: disc;
}
ol ol,
ul ul {
  margin-bottom: 0;
}
/* Headings
  --------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  margin: 8px 0 4px;
  font-family: 'Rijksoverheid Sans bold', Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 31.2px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 21.6px;
}
h4 {
  font-size: 19.2px;
}
h5 {
  font-size: 15.6px;
}
h6 {
  font-size: 14.4px;
}
/* Tables
  --------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 16px;
  width: 100%;
}
table .time {
  width: 20%;
  min-width: 80px;
}
table .topic,
table .presentor {
  width: 30%;
}
table .topic {
  width: 45%;
}
table tbody {
  border-top: 1px solid #e6e6e6;
}
table th,
table td {
  text-align: left;
  vertical-align: top;
}
table th {
  font-weight: bold;
  text-transform: uppercase;
}
.entry-content *:not(.pagination) ul {
  padding-left: 0;
}
.entry-content *:not(.pagination) ul,
.entry-content *:not(.pagination) ul li {
  list-style: none;
}
.entry-content *:not(.pagination) ul li {
  margin-left: 0;
  padding-left: 1.5em;
  display: block;
  position: relative;
}
.entry-content *:not(.pagination) ul li:before {
  font-weight: normal;
  font-family: "RO Icons";
  display: inline-block;
  vertical-align: middle;
  content: "";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  left: 0;
  top: 5px;
  width: 1.5em;
}
.entry-content *:not(.pagination) ul li a {
  padding-left: 1em;
}
.entry-content .teammembers td,
.entry-content table td,
.entry-content .teammembers p,
.entry-content table p,
.entry-content .teammembers h1,
.entry-content table h1,
.entry-content .teammembers h2,
.entry-content table h2,
.entry-content .teammembers h3,
.entry-content table h3,
.entry-content .teammembers h4,
.entry-content table h4,
.entry-content .teammembers h5,
.entry-content table h5,
.entry-content .teammembers h6,
.entry-content table h6 {
  font-family: 'Rijksoverheid Sans regular', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
.entry-content .teammembers h1,
.entry-content table h1,
.entry-content .teammembers h2,
.entry-content table h2,
.entry-content .teammembers h3,
.entry-content table h3,
.entry-content .teammembers h4,
.entry-content table h4 {
  font-size: 18px;
}
.entry-content .teammembers td,
.entry-content table td,
.entry-content .teammembers p,
.entry-content table p,
.entry-content .teammembers h5,
.entry-content table h5,
.entry-content .teammembers h6,
.entry-content table h6 {
  font-size: 16px;
}
.entry-content .teammembers h5,
.entry-content table h5,
.entry-content .teammembers h6,
.entry-content table h6 {
  margin: 0 0 6px 0;
  font-style: italic;
}
.entry-content .teammembers,
.entry-content table,
.entry-content .teammembers li,
.entry-content table li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.entry-content .teammembers li,
.entry-content table li {
  margin-bottom: 1em;
}
.entry-content .teammembers td,
.entry-content table td {
  padding: 0 4px 16px 0;
}
img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 16px;
}
.alignleft {
  float: left;
  text-align: left;
}
.alignright {
  float: right;
  text-align: right;
}
img.alignleft,
.wp-caption.alignleft {
  margin: 5.33333333px 8px 16px 0;
}
img.alignright,
.wp-caption.alignright {
  margin: 5.33333333px 0 16px 8px;
}
.wp-caption.alignnone {
  margin: 5.33333333px 0 0 0;
}
.wp-caption-text {
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid #ddd;
  line-height: 1.4;
  padding: 8px 0;
}
.alignright .wp-caption-text {
  margin-left: 10px;
  margin-bottom: 0 !important;
}
.alignleft .wp-caption-text {
  margin-right: 10px;
  margin-bottom: 0 !important;
}
.gallery-caption {
  border-bottom: none;
}
.cmb-type-text {
  border: 10px solid #d52b1e;
}
strong,
b,
span[style*="font"],
span[style*="underline"],
u {
  background: red !important;
  color: white !important;
  padding: .1em;
}
strong,
b {
  font-weight: bold;
}
strong,
b,
span[style*="color"],
span[style*="font"],
span[style*="underline"],
u {
  background: red !important;
  color: white !important;
  padding: .1em;
  display: inline-block;
}
strong:before,
b:before,
span[style*="color"]:before,
span[style*="font"]:before,
span[style*="underline"]:before,
u:before {
  background: yellow url('../images/opmaak-verwijderen.png') no-repeat 0.4em 0.4em !important;
  content: 'deze tekst bevat nog verkeerde opmaakcode. Selecteer de tekst en klik op de gum-knop om dit weg te halen';
  display: block;
  padding: .4em .4em .4em 42px;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 16px;
  width: 180px;
  border: 1px solid black;
  float: left;
  color: black !important;
}
span[style*="color"]:before {
  content: 'deze tekst bevat opmaakcode voor een ander lettertype. Selecteer de tekst en klik op de gum-knop om dit weg te halen';
}
span[style*="font"]:before {
  content: 'deze tekst bevat nog verkeerde opmaakcode. Selecteer de tekst en klik op de gum-knop om dit weg te halen';
}
span[style*="underline"]:before,
u:before {
  content: 'Onderstreepte tekst impliceert een link. Niet gebruiken, alsjeblieft.';
}
strong:before,
b:before {
  content: 'Deze tekst is vet. Als je een tussenkopje wil maken, gebruik dan h2, h3, h4. Vette tekst leidt erg af; van harte afgeraden.';
}
a {
  text-decoration: underline !important;
}
h1 {
  background: red !important;
  color: white !important;
  padding: .1em;
  display: inline-block;
}
h1:before {
  background: yellow url('../images/waarschuwing.svg') no-repeat 0.4em 0.4em !important;
  content: 'Deze tekst bevat een H1 als titel-tag. Die is gereserveerd voor de paginatitel. Gebruik alleen H2 of lager, alsjeblieft.';
  display: block;
  padding: .4em .4em .4em 24px;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 16px;
  width: 180px;
  border: 1px solid black;
  float: left;
  color: black !important;
}
div {
  padding: .2em;
  border: 1px solid #535353;
}
div:before {
  content: 'Er zitten <div>-tags in deze tekst. Misschien is dat je bedoeling, maar vaak levert dit ongewenste layout op. Probeer de tekst zonder extra layout in te voeren, bijvoorbeeld via het "tekst"-tabje.';
  display: inline-block;
  float: none;
  clear: both;
  font-size: 80%;
  color: #535353;
  border-bottom: 1px solid #535353;
  margin-bottom: 1em;
}
