*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

deleteme-code-voor-extra-knop-editor.html

distribute.sh

unused-code.php

includes/widget-banner-2.php

deleteme-code-voor-dossier-checker.html

includes/example-cmb2.php

includes/example-cmb2.php

js/jquery-swipebox-2016.9.2.min.js

js/min/jquery-swipebox-2016.9.2.min-min.js

js/min/miscellaneous-2016.9.2.min-min.js

js/miscellaneous-2016.9.2.min.js

js/rhs-core-lookup.js

js/swipebox-master.zip

js/jquery.swipebox.min.js

test-pages.html

deleteme-unused-code.html

xxx_deleteme_page.php.html

xxx-page_dossiersingle.php.html

xxx-page_dossiersingle.php

xxx_deleteme_page.php

plugins/xxxx-events-manager.zip

css/style.css

page_search.php

*.map

*.codekit3

alle-links.html

config.codekit3

css/deleteme.css

less/deleteme.less

js/patrickkunka-mixitup-2990488/
js/jquery.mixitup.actions copy.js

js/jquery.mixitup.actions-short.js
